@model BoardingNestSystem.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to cancel this?</h3>
<div>
    <h4>BoardingHouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardingHouseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardingHouseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BoardingHouseID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
