@model IEnumerable<BoardingNestSystem.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dataTable" class="table table-bordered table-striped " style="width:100%">

    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.BoardingHouse.BoardingID)*@Boarding House
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ClientsName)*@Client's Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ClientsNumber)*@Client's Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DateCheckIn)*@Check In
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DateCheckOut)*@Check Out
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardingHouse.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientsNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFinished)
                </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*@foreach (var item in Model) {
<div class="active tab-pane" id="activity">
    <!-- Post -->

        <!-- /.user-block -->
        <p>
            <h5>BoardingID:</h5>@Html.DisplayFor(modelItem => item.BoardingHouse.BoardingID)<br><br>
            <h5>Client Name:</h5>@Html.DisplayFor(modelItem => item.ClientsName)<br><br>
            <h5>Client's Contact Number:</h5>@Html.DisplayFor(modelItem => item.ClientsNumber)<br><br>
            <h5>Date Check In:</h5>@Html.DisplayFor(modelItem => item.DateCheckIn)<br><br>
            <h5>Date Check Out:</h5>@Html.DisplayFor(modelItem => item.DateCheckOut)<br><br>
         <h5>Price:</h5>₱ @Html.DisplayFor(modelItem => item.BoardingHouse.Price)<br>
        </p>

        <a asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-primary btn-block"><b>Cancel Book</b></a>
    </div>
    <!-- /.post -->



</div>
}*@